@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<MusicStorePractice.Models.Album>
@{
     ViewData["Title"] = "Albums";
}
@using MusicStorePractice.Helpers
<h1>@ViewBag.GenreName Albums</h1>

<ul class="row list-unstyled" id="album-list">
    @foreach (var album in Model)
    {
        <li class="col-lg-2 col-md-2 col-sm-2 col-xs-4 container">
            <a asp-controller="Store" asp-action="Details" asp-route-id="@album.AlbumID">
               
                <img alt="@album.Title" src="~/content/@album.AlbumArtUrl"/>
                <br />&nbsp;<br />
                <div id="title">@MyHelper.Truncate(@album.Title,20)</div>
            </a>
        </li>
    }
</ul>